[Unit]
Description=Carbonio Message Dispatcher daemon
Documentation=https://docs.zextras.com/
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=EJABBERD_CONFIG_PATH=/etc/carbonio/message-dispatcher/mongooseim.toml
ExecStart=/opt/zextras/common/lib/mongooseim/bin/mongooseim foreground
ExecStop=/opt/zextras/common/lib/mongooseim/bin/mongooseim stop
User=carbonio-message-dispatcher
Group=carbonio-message-dispatcher
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
