[Unit]
Description=Carbonio Message Dispatcher auth daemon
Documentation=https://docs.zextras.com/
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/zextras/common/bin/java -Djava.net.preferIPv4Stack=true -jar /opt/zextras/lib/jars/carbonio-message-dispatcher-auth.jar
User=carbonio-message-dispatcher
Group=carbonio-message-dispatcher
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
