# SPDX-FileCopyrightText: 2023 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

{mongooseim_runner_user, "carbonio-chats-messaging"}.
{mongooseim_script_dir, "/opt/zextras/common/lib/mongooseim/bin"}.
{mongooseim_etc_dir, "/etc/carbonio/chats-messaging"}.
{mongooseim_log_dir, "/var/log/carbonio/chats-messaging"}.
{mongooseim_mdb_dir, "/var/lib/carbonio/chats-messaging"}.
{mongooseim_mdb_dir_toggle, []}.
{mongooseim_lock_dir, "/var/lock/carbonio/chats-messaging"}.
{mongooseim_pid_dir, "/var/lib/carbonio/chats-messaging"}.
{mongooseim_status_dir, "/var/lib/carbonio/chats-messaging"}.
{mongooseim_nodetool_etc_dir, "/etc/carbonio/chats-messaging"}.
{nksip_cache_dir, "/var/lib/carbonio/chats-messaging"}.
