{mongooseim_runner_user, "carbonio-message-dispatcher"}.
{mongooseim_script_dir, "/opt/zextras/common/lib/mongooseim/bin"}.
{mongooseim_etc_dir, "/etc/carbonio/message-dispatcher"}.
{mongooseim_log_dir, "/var/log/carbonio/message-dispatcher"}.
{mongooseim_mdb_dir, "/var/lib/carbonio/message-dispatcher"}.
{mongooseim_mdb_dir_toggle, []}.
{mongooseim_lock_dir, "/var/lock/carbonio/message-dispatcher"}.
{mongooseim_pid_dir, "/var/lib/carbonio/message-dispatcher"}.
{mongooseim_status_dir, "/var/lib/carbonio/message-dispatcher"}.
{mongooseim_nodetool_etc_dir, "/etc/carbonio/message-dispatcher"}.
{nksip_cache_dir, "/var/lib/carbonio/message-dispatcher"}.
